* {
  box-sizing: border-box;
  font-family: sans-serif;
}

header footer nav div {
  display: block;
}

.navbar {
  background: #5133a4;
  min-height: 70px;
  position: fixed;
  width: 100%;
  color: #fff;
  z-index: 99;
  white-space: nowrap;
}

.navbar a{
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}

.navbar li{
  display: inline-block;
  padding: 26px 0;
  width: 33.3%;
  text-align: center;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

html {
  line-height: 1.15;
}

.header {
  background-color: #2c323c;
  background-image: url("./images/geo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 400px;
  padding: 180px 20px;
  text-align: center;
}

.container {
  display: flex;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
}

.footer>.bottom>img {
  width: 20px;
  position: relative;
  top: 3px;
  left: 2px;
}

.footer{
  position: relative;
  background: #6956af;
  height: 100px;
  color: #fff;
  overflow: auto;
}

.bottom {
  position: absolute;
  background: #5138a1;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  font-weight: 600;
}

img {
  border-style: none;
}

.click-item {
  background-size: cover;
  background-position: 50%;
  height: 170px;
  width: 170px;
  border:5px solid #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 3px 6px;
  cursor: pointer; 
}

@media (max-width: 750px)
.click-item {
  margin: 10px;
}